@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Tapestry&display=swap');
:root{
    --heading-font: "Tapestry";
    --paragraph-font: Roboto, Helvetica, Sans-serif;
}
h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #510080;
    text-decoration: none;
    padding: 35px;
}
.home-title{
    font-family: "Tapestry";
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin:0;
}
#posh{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#posh-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#posh-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#posh-msg h1, #posh-msg h4{
    text-align: center;
    color: rgba(70, 0, 128, 0.973);
}
#posh-img{
    width: 100%;
}
.book{
    box-shadow: 2px 2px 5px #242c51;
}
.button-box{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.office{
    width: 100%;
    grid-column: 1/6;
    grid-row: 2/5;
    box-shadow: 5px 5px 10px black;
}

main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
#background{
    grid-column: 1/11;
    grid-row: 1/6;
    height: 725px;
    background-color: #6776e6;
}
body{
    background-color: #4f5bb1;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin:0;
    padding:0;
}
header{
    background-color: transparent;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: white;
    color: blue;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.book, .join{
    color: blue;
    font-size:18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: aliceblue;
}
.msg{
    background-color: #4f5bb1;
    color: white;
    line-height:1.5em;
    padding: 35px;
    grid-column: 6/12;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px black;
}
.msg p{
    font-size:.8em;
    padding-bottom: 15px;
}
.interia .carpet .sofa{
    margin: 200px 0;
}
.interia{
    grid-column: 2/4;
    grid-row: 7/8;
}
.carpet{
    grid-column: 5/7;
    grid-row: 7/8;
}
.sofa{
    grid-column: 8/10;
    grid-row: 7/8;
}
.cleaning-img{
    border: 10px solid black;
    transition: transition .5s;
    box-shadow: 5px 5px 10px black;
}
.page_two-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.mirror{
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/5;
    box-shadow: 5px 5px 10px black;
}
.tips_one{
    background-color: #4f5bb1;
    color: white;
    line-height:1.5em;
    grid-column: 6/11;
    grid-row: 2/4;
    padding: 35px;
    box-shadow: 5px 5px 10px black;
}
.surface{
    width: 100%;
    grid-column: 6/11;
    grid-row: 6/10;
}
.tips_two{
    background-color: #6776e6;
    color: white;
    line-height:1.5em;
    grid-column: 2/6;
    grid-row: 7/9;
    padding: 35px;
    box-shadow: 5px 5px 10px black;
}
.page_three-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.floor{
    width: 100%;
    grid-column: 6/10;
    grid-row: 1/5;
}
.benefit_one{
    background-color: #4f5bb1;
    color: white;
    line-height:1.5em;
    grid-column: 1/6;
    grid-row: 2/4;
    padding: 35px;
    box-shadow: 5px 5px 10px black;
}
.vacuum{
    width: 100%;
    grid-column: 2/6;
    grid-row: 6/10;
}
.benefit_two{
    background-color: #6776e6;
    color: white;
    line-height:1.5em;
    grid-column: 6/11;
    grid-row: 7/9;
    padding: 35px;
    box-shadow: 5px 5px 10px black;
}
footer{ 
    background-color: #eceff1;
    color:#242c51;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social{
    padding-top: 15px;
}
.logo{
    width: 80px;
}

@media screen and (max-width: 900px) {
    #posh, .home-grid, .page_two-grid, .page_three-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #posh {
        margin-top: 0;
    }
    #posh-msg {
        margin-top: 0;
    }
    #posh-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    .office, .msg, .mirror, .tips_one, .surface, .tips_two, .floor, .benefit_one, .vacuum, .benefit_two {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: #0439aa;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #310080;}
